<div>

  <div class="min-h-screen bg-darkBlue flex">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <h1 class="mt-6 text-4xl font-light text-cyan-100">
            <span class="font-semibold">API</span> Provincias
          </h1>
          <img *ngIf="false" class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          <h2 class="mt-6 text-2xl font-light text-white opacity-80">
            Ingresa con tu cuenta
          </h2>
        </div>

        <div class="mt-8">
          <div *ngIf="error" class="border border-red-500 bg-red-500 bg-opacity-5 text-white rounded-md py-2 px-5 text-sm">
            {{error}}
          </div>
          <div>
            <div>
              <p class="text-sm font-medium text-gray-700">
                Ingresar con
              </p>

              <div class="mt-1 grid grid-cols-3 gap-3">
                <div>
                  <button (click)="onGoogleLogin()" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Ingresar con Google</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-5 w-5" viewBox="0 0 16 16">
                      <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <div class="mt-6 relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-white rounded-md text-gray-500">
                  O continuar con
                </span>
              </div>
            </div>
          </div>

          <div class="mt-6">
            <form action="#" method="POST" class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
              <div class="text-sm font-light text-red-500" *ngIf="loginError">
                {{loginError}}
              </div>
              <div>
                <input type="email" name="hidden" id="hidden" style="position: absolute; width: 0; height: 0; border: 0; padding: 0" />
                <input type="password" name="hidden" id="hidden2" style="position: absolute; width: 0; height: 0; border: 0; padding: 0" />
                <label for="user" class="block text-sm font-medium text-gray-400">
                  Correo Electrónico
                </label>
                <div class="mt-1">
                  <input id="user" formControlName="email" type="text" class="appearance-none block w-full px-3 py-2 border border-darkBlue rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-900 focus:border-sky-900 sm:text-sm focus:bg-sky-900 focus:bg-opacity-10 bg-white bg-opacity-10 text-white">
                </div>
                <div
                  class="text-sm font-medium text-red-500"
                  *ngIf="loginForm.controls.email.touched && loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                  El email ingresado es inválido.
                </div>
                <div class="text-sm font-light text-red-500" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.hasError('required')">
                  El email es <strong>requerido</strong>
                </div>
              </div>

              <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-400">
                  Contraseña
                </label>
                <div class="mt-1">
                  <input id="password" formControlName="password" name="password" type="password" required="" class="appearance-none block w-full px-3 py-2 border border-darkBlue rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-900 focus:border-sky-900 sm:text-sm focus:bg-sky-900 focus:bg-opacity-10 bg-white bg-opacity-10 text-white">
                </div>
                <div class="text-sm font-light text-red-500" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.hasError('required')">
                  La contraseña es <strong>requerida</strong>
                </div>
                <div class="text-sm font-light text-red-500" *ngIf="loginForm.controls.password.touched && this.loginForm.controls.password.hasError('minlength')">
                  La contraseña debe contener al menos<strong> 6 digitos</strong>
                </div>
              </div>



              <div>
                <button [disabled]="loginForm.invalid" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-cyan-500 hover:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Continuar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1">
      <img class="absolute inset-0 h-full w-full object-cover" src="assets/images/bg.jpg" alt="">
    </div>
  </div>

</div>
