<header class="flex-shrink-0 relative h-16 flex items-center">

  <app-sidebar-header-logo></app-sidebar-header-logo>
  <div class="absolute inset-y-0 right-0 pr-4 flex items-center sm:pr-6 md:hidden">
    <ion-button type="button" aria-expanded="false" class="mr-2 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600">
      <span class="sr-only">Abrir menú principal</span>
      <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </ion-button>
  </div>

  <app-sidebar-header-desktop-nav class="hidden md:min-w-0 md:flex md:items-center md:justify-beetween"></app-sidebar-header-desktop-nav>
</header>
